.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.light {
  background-color: white;
}

.dark {
  background-color: black;
}

.rectangle {
  width: 100px;
  height: 40px;
  border: 2px solid currentColor;
}

.light .rectangle {
  border-color: black;
}

.dark .rectangle {
  border-color: white;
}
