.toggleButton {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 100;
  transition: background-color 0.3s;
}

.light {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dark {
  background-color: #333;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}
