.app {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
}

:global([data-theme="dark"]) .app {
  background-color: black;
  color: white;
}

:global([data-theme="light"]) .app {
  background-color: white;
  color: black;
}
